<div class="header">
    <div class="container-info">
        <div>PRUEBA </div>
        <div>
            <i class="pi pi-search"></i>
        </div>
        <div>
            <i class="pi pi-check"></i>
        </div>
    </div>
    <ng-template>
        <input type="text">
        <button>
            <i class="pi pi-check"></i>
        </button>
    </ng-template>
</div>
<!-- <div class="layout-topbar p-shadow-4">
    <div class="layout-topbar-left">
            AGENCIAS
    </div>
    <div
      class="layout-topbar-actions-right"
    >
    <ul class="layout-topbar-items">

        <li class="layout-topbar-item">NOMBRE
          <a
            pRipple
            class="layout-topbar-action rounded-circle p-ripple"
             >
           
            <i class="pi pi-user fs-large"></i>
            <span
              class="p-ink"
              style="height: 35px; width: 35px; top: -1px; left: 4px"
            ></span>
          </a>
        </li>
      </ul>

    </div>
</div> -->