.header {
    font-family: 'Franklin Gothic Medium'; 
    background-color: #002A8D;
    font-size: 1.6rem;
    padding: .8rem 1.5rem;

    div.container-info
    {
        display: flex;
        color: #fff;
        justify-content: space-between;
    }
  
}